<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a class="header-logo" href="/">QUICK<span>POLLS</span></a>
            <div class="menu-wrapper">
                <div class="menu-header-container">
                    <ul id="menu-header" class="menu">
                        <li class="menu-item"><a href="/polls/" onclick="history.go(-1)"><b>Go Back</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="content-wrapper">
            <div class="content">
        <div><h1 align="center">{{ question.question_text }}</h1></div>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
            <input type="submit" value="Vote">
            </div>
        </div>
    </div>
    </form>
    </main>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-text">2022 © Machine. </div>
                <div class="footer-text">
                    Является учебным проектом
                    <a href="https://github.com/Machine089">
                        <img src="https://img.icons8.com/ios/35/000000/github--v1.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <a>Сделано на Django 4</a>
            </div>
        </div>
    </footer>
</body>
</html>