@font-face {
   font-family: 'Varela';
   font-style: normal;
   font-weight: 400;
   src: local('Varela'), url('fonts/DPEtYwqExx0AWHX5Ax4E.woff2') format('woff2');
}

/******************************************************************************************/

/* BASIC                                                                                  */

/******************************************************************************************/

* {
   transition: .3s ease-in-out;
}

*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

::-moz-selection {
   background: #303030;
   color: white;
}

::selection {
   background: #303030;
   color: white;
}

*:target:before {
   content: "";
   display: block;
   height: 2em;
   margin-top: -2em;
}

body {
   font-family: "Trebuchet MS", sans-serif;
   font-size: 16px;
   line-height: 1.5;
   color: #303030;
   background: #FFE4B5;
   word-spacing: 2px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1.2;
   clear: both;
   font-weight: 600;
   margin: 0 0 20px;
}

h2, h3 {
   margin-top: 30px;
}

p {
   margin-bottom: 15px;
}

a {
   font-size: 20px;
   text-decoration: none;
   color: black;
}

.post-item a, .post-item a:hover {
	color: #303030;
}

ul, ol {
   list-style: none;
}

ul.list-circle {
   list-style: circle;
   margin: 0 0 30px 20px;
}

ul.list-circle li, ul.list-round li {
   margin-bottom: 10px;
}

ul.list-round {
   list-style: disc;
   margin: 0 0 30px 20px;
}

caption {
   color: #ababab;
   text-transform: uppercase;
   font-size: 14px;
   margin: 10px 0;
   text-align: right;
}


kbd {
   background: #f2f2f2;
   padding: 1px 5px;
   border-radius: 3px;
   font-size: .9em;
   font-family: monospace;
   word-break: keep-all;
   text-shadow: 0 1px white;
}

.cursor-table kbd, .cursor-table span {
   display: block;
   padding: 5px 6px;
   white-space: nowrap;
   margin: 4px 0;
   text-align: center;
}

.content-inner a.read-more-button, button.read-more-button {
   display: inline-block;
   position: relative;
   font-size: 14px;
   border-radius: 3px;
   color: white;
   padding: 10px 15px;
   margin: 15px 0;
   box-shadow: none;
   background: #ff541b;
   cursor: pointer;
   border: none;
}

.content-inner a.read-more-button:after,
button.read-more-button:after {
	content: "\e87a";
	color: white;
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	position: absolute;
	top: 10px;
	right: 15px;
	display: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content-inner a.read-more-button:hover:after,
button.read-more-button:hover:after {
	display: block;
}
.content-inner a.read-more-button:hover,
button.read-more-button:hover {
   color: white;
   padding-right: 35px;
}

p img {
   display: block;
   width: auto;
   height: auto;
   max-width: 100%;
}


/******************************************************************************************/

/* STRUCTURE                                                                              */

/******************************************************************************************/

main {
   flex: 1 0 auto;
}

.container {
   margin: 0 auto;
   padding: 0 20px;
   width: 100%;
   max-width: 1220px;
}

main .container {
   margin-bottom: 40px;
}

.category main .container {
   margin-bottom: 0;
}

.content,
.search-wrapper,
.page-inner {
   background: white;
   padding: 20px;
   line-height: 2.5;
}

.breadcrumbs {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
   padding: 0 20px;
   font-size: 14px;
}

.breadcrumbs .item a {
   color: #303030;
}

.breadcrumbs b {
   font-weight: normal;
   color: #ababab;
}

.breadcrumbs .separator {
   margin: 0 5px;
}

.search-results .navigation.pagination {
   margin-top: 20px;
}

.size-post-image {
   display: block;
   margin-bottom: 30px;
}

.post-share {
   display: flex;
   margin-bottom: 30px;
}

.post-share h4 {
   margin-right: 10px;
   padding: 0;
}

.content a.ya-share2__link {
   border-bottom: none;
   margin-right: 10px;
}

.ads-wrapper {
   margin-bottom: 30px;
}

/******************************************************************************************/

/* HEADER                                                                                 */

/******************************************************************************************/

header {
   padding: 20px 0;
   margin-bottom: 30px;
}

header .container {
   display: flex;
}

.menu-wrapper, .menu-header-container ul {
   display: flex;
}

.menu-header-container ul {
   align-items: center;
   height: 100%;
}

.header-logo {
   display: block;
   color: inherit;
   font-size: 40px;
   line-height: 1;
   font-family: 'Varela', sans-serif;
   font-weight: bold;
}

.header-logo span {
   display: block;
   font-size: 17px;
   letter-spacing: 5px;
   position: relative;
   text-align: right;
   margin-right: -5px;
}

.header-logo span:before {
   content: "";
   position: absolute;
   top: 0;
   background: #36e703;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   left: 3px;
   box-shadow: 12px 6px #0230e1, 24px 0px #fdba13, 36px 6px #de0064;
   transition: .4s linear;
}

.header-logo:hover span:before {
   top: 6px;
   box-shadow: 12px -6px #0230e1, 24px 0px #fdba13, 36px -6px #de0064;
}

#menu-header a {
   color: inherit;
   display: block;
   padding: 10px 17px;
   font-size: 13px;
   text-transform: uppercase;
   position: relative;
   line-height: 1;
}

#menu-header a:before {
   content: "";
   width: 8px;
   height: 8px;
   background: #020203;
   position: absolute;
   left: -4px;
   top: 50%;
   border-radius: 50%;
   transform-origin: center;
   transition: all .2s cubic-bezier(.56, .2, .25, 1);
   transform: scale(0) translateY(-50%);
}

#menu-header .menu-item-3827 a:before,
#menu-header .menu-item-14702 a:before {
   background: #00c097;
}

#menu-header .menu-item-3871 a:before,
#menu-header .menu-item-11005 a:before {
   background: #84cd1b;
}

#menu-header .menu-item-3975 a:before {
   background: #F29987;
}

#menu-header .menu-item-3884 a:before {
   background: #bcd8f0;
}

#menu-header .current-menu-item a:before, #menu-header a:hover:before {
   transform: scale(1) translateY(-50%);
}

#menu-header .current-menu-item a {
   font-weight: bold;
}


/******************************************************************************************/

/* ASIDE MENU                                                                             */

/******************************************************************************************/

.widget {
   margin-bottom: 30px;
}

#menu-aside .menu-item-has-children {
   margin-bottom: 30px;
}

#menu-aside .sub-menu {
   background: white;
   padding: 12px 0;
}

#menu-aside a {
   display: block;
   line-height: 1.2;
   padding: 12px 20px;
   font-size: 14px;
   color: #303030;
}

#menu-aside .current-menu-item a {
   font-weight: bold;
}

#menu-aside>li>a {
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: bold;
   color: white;
}

#menu-item-1860>a {
   background: #000000;
}

#menu-item-1862>a {
   background: #ffd300;
}

#menu-item-1861>a {
   background: #84cd1b;
}

#menu-item-2534>a {
   background: #5e4a3f;
}

#menu-item-1863>a {
   background: #ff541b;
}

#menu-item-1866>a {
   background: #bcd8f0;
}

#menu-item-5592>a {
   background: #f29987;
}

#menu-item-7796>a {
   background: #3768A4;
}

/******************************************************************************************/

/* ASIDE RECENT POSTS                                                                     */

/******************************************************************************************/

.sidebar-title {
   display: block;
   line-height: 1.2;
   padding: 12px 20px;
   margin: 0;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: white;
   background: #CACACB;
}

.wp-widget-group__inner-blocks {
   background: white;
   padding: 24px 20px;
}

.wp-block-latest-posts__list li {
   margin-bottom: 24px;
}

.wp-block-latest-posts__list li:last-child {
   margin-bottom: 0;
   border-bottom: none;
   padding-bottom: 0;
}

.wp-block-latest-posts__featured-image img {
   display: block;
   margin-bottom: 6px;
}

.widget li a.wp-block-latest-posts__post-title {
   color: #303030;
   font-size: 14px;
   line-height: 1.2;
}

/******************************************************************************************/

/* CONTENTS                                                                               */

/******************************************************************************************/
.table-of-content h3 {
   font-size: 20px;
   margin: 0;
   padding: 0;
}

.table-of-content ul {
   margin: 0 0 30px;
}

.table-of-content ul:last-child {
   margin: 0;
}

.table-of-content a {
   color: #303030;
   display: block;
   margin-bottom: 10px;
}

.table-of-content h3 a {
   margin-bottom: 15px;
}

.table-of-content .single-header {
   margin: 0 0 30px;
}

.numered-list {
   counter-reset: li;
   list-style: none;
}

.numered-list li {
   position: relative;
   margin-bottom: 30px;
   padding-left: 3em;
}

.numered-list li:before {
   content: counter(li);
   counter-increment: li;
   position: absolute;
   left: 0;
   top: 50%;
   margin-top: -1em;
   color: white;
   height: 2em;
   width: 2em;
   line-height: 2em;
   text-align: center;
   font-weight: bold;
   border-radius: 2em;
}

.numered-list li:nth-child(odd):before {
   background: #3777ec;
}

.numered-list li:nth-child(even):before {
   background: #6bcfcb;
}

.chapter {
   display: flex;
   margin-bottom: 30px;
}

.chapter-html {
   background: #00c097;
}

.chapter-css {
   background: #84cd1b;
}

.chapter-js {
   background: #F29987;
}

.chapter-wt {
   background: #bcd8f0;
}

.chapter-number {
   font-family: 'Times New Roman';
   color: white;
   font-size: 300px;
   font-weight: 200;
   line-height: 200px;
   padding: 0 20px;
}

.chapter-heading {
   display: flex;
   align-items: flex-end;
   padding: 20px 20px 20px 0;
   font-size: 70px;
   font-family: 'Oswald', sans-serif;
   font-weight: 200;
   line-height: 1;
   color: black;
   margin: 0;
}

/******************************************************************************************/

/* FOOTER                                                                                 */

/******************************************************************************************/

.footer-top {
   background: #2c2c2c;
   padding: 30px 0;
   font-size: 14px;
   color: #5a5a5a;
}

.footer-bottom {
   background: #202020;
   padding: 20px 0;
   font-size: 12px;
   text-align: center;
}

.footer-bottom a {
   color: #5a5a5a;
}

.scroll-top {
   position: fixed;
   right: 20px;
   bottom: 20px;
   width: 40px;
   height: 40px;
   background: #ff541b;
   text-align: center;
   cursor: pointer;
   border-radius: 3px;
   z-index: 300;
}

.scroll-top:before {
   content: "\e873";
   font-family: Linearicons-Free;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: white;
   font-size: 20px;
   line-height: 40px;
}

.footer-text {
   margin-bottom: 15px;
}

.social {
   display: flex;
   margin-top: 30px;
}

.social li {
   margin-right: 30px;
}

.social a {
   font-size: 20px;
   color: #818181;
}

.social a:hover {
   color: white;
}

.social iframe {
   display: block;
}


/******************************************************************************************/

/* MEDIA QUERIES                                                                          */

/******************************************************************************************/
@media(max-width: 419px) {
   .social li {
      margin-right: 20px;
   }
}

@media(min-width: 420px) {
   .social a {
      display: block;
      width: 36px;
      height: 36px;
      line-height: 34px;
      text-align: center;
      border: 1px solid;
      border-radius: 50%;
   }

   .footer-text img {
	   vertical-align: middle;
   }
}

@media (max-width: 479px) {
   .boxed-list {
      width: 100%;
      margin: 6px 0;
   }

   .posts {
      width: 48%;
      margin: 0 4% 20px 0;
   }

   .posts-wrapper .posts:nth-child(3), .posts-wrapper .posts:nth-child(5) {
      margin-right: 0%;
   }

   .posts-wrapper .posts:nth-child(4) {
      margin-right: 4%;
   }

   .size-page-image {
      display: none;
   }

   .t3 th, .t3 td {
      display: block;
      border: 0;
      padding: 10px;
   }

   .t3 tr {
      border: 1px solid #e6e6e6;
   }

   .t1 th, .t2 th, .t4 th, .t5 th {
      padding: 3px;
   }

   .t1 td, .t2 td, .t4 td, .t5 td {
      padding: 3px;
      line-height: 1.2;
      font-size: 80%;
   }

   blockquote {
      margin: 20px 0 20px 35px;
      border-left: 2px solid #eee;
      padding-left: 10px;
   }

   blockquote:before {
      left: -35px;
      font-size: 20px;
   }

   caption {
      font-size: 12px;
   }

   .post-item {
      width: 50%;
   }
}

@media(min-width:480px) and (max-width:679px) {
   .post-item {
      width: 33.33333334%;
   }
}

@media(min-width:680px) {
   .post-item {
      width: 25%;
   }
}

@media (max-width: 559px) {
   .chapter {
      align-items: center;
   }

   .chapter-number {
      font-size: 100px;
      line-height: 1;
   }

   .chapter-heading {
      font-size: 40px;
   }
}

@media (min-width: 560px) {
   .floating {
      font-size: 320px;
      letter-spacing: -20px;
   }
}

@media (min-width: 650px) {
   .nav-wrapper {
      display: flex;
      justify-content: space-between;
   }

   .nav-prev, .nav-next {
      width: 50%;
   }

   .nav-prev:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: #303030;
      z-index: 1;
   }

   .nav-prev:before {
      content: "";
      position: absolute;
      right: 1px;
      top: calc(50% - 4px);
      transform: translateY(-50%);
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: #303030;
      box-shadow: 7px 0 0 #303030, 0 7px 0 #303030, 7px 7px 0 #303030;
      z-index: 3;
   }

   .nav-next:before {
      content: "";
      position: absolute;
      width: 17px;
      height: 23px;
      background: white;
      top: 50%;
      transform: translateY(-50%);
      left: -8px;
      z-index: 2;
   }

   .gallery-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .gallery-block p {
      width: 49%;
   }
}

@media (max-width: 767px) {
   body {
      font-size: 14px;
   }

   pre {
      font-size: 12px;
      padding: 10px;
   }

   .t5 th {
      font-size: 70%;
      padding: 7px 5px;
   }

   .t5 td {
      padding: 7px 5px;
      font-size: 80%;
   }

   .column33, .column66 {
      width: 100%;
      float: none;
   }

   .row-inner a {
      font-size: 16px;
   }

   .html-block, .column-center {
      height: 250px;
      padding: 20px;
   }

   .html-block, .js-block {
      background-size: 30%;
   }

   .table-of-content h3 span {
      margin-right: 5px;
   }
   .page-template-template-home main .container {
      margin-bottom: 0;
   }
}

@media (min-width: 768px) {
   .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .article-item {
      width: calc(50% - 20px);
   }

   .table-of-content ul {
      padding-left: 90px;
   }

   .table-of-content h3 span {
      display: block;
      width: 90px;
      flex-shrink: 0;
   }
   .table-of-content h3 a {
      display: flex;
   }
}

@media (min-width:860px) {
   .font-block {
      width: 50%;
      float: left;
   }
}

@media (min-width: 768px) and (max-width: 959px) {
   .grid {
      padding: 0 20px;
   }
}

@media (max-width: 900px) {
   .row-inner, .block-blue, .block-beige, .block-sand, .block-red {
      padding: 10px;
   }

   .row-inner a {
      font-size: 12px;
   }

   .column-center h1 {
      font-size: 32px;
   }

   .menu-wrapper {
      flex-direction: column;
      align-items: center;
   }

   .menu-header-container {
      margin-bottom: 10px;
   }

   .search-box {
      width: 100%;
      max-width: 860px;
      margin-left: 0;
      min-height: 18px;
   }

   .search-box .search-form {
      width: 100%;
   }

   .search-box i {
      position: absolute;
      left: 50%;
      margin-left: -10px;
   }
}

@media (max-width: 959px) {
   .category-header, .navigation.pagination {
      padding: 0 20px;
   }

   .wp-block-latest-posts__featured-image {
      display: none;
   }

   aside {
      margin-top: 40px;
   }

   main .container {
      padding: 0;
   }

   .page-template-template-full-width main .container {
      margin-bottom: 0;
   }

   .nav-wrapper {
      margin: 30px -20px;
      padding: 20px;
   }
}

@media (min-width: 960px) {
   .content-wrapper {
      display: flex;
   }

   .content {
      width: calc(100% - 0px);
      padding: 60px 95px;
   }

   .page-inner {
      padding: 30px 70px;
   }

   .search-wrapper {
      padding: 30px 70px;
   }

   aside {
      width: 320px;
      padding-left: 40px;
      flex-shrink: 0;
   }

   .breadcrumbs, .header {
      padding: 0;
   }

   .wp-block-latest-posts__list li {
      padding: 0 20px 6px;
      margin: 0 -20px 24px;
      border-bottom: 2px solid #F8F9FB;
   }
}

@media (max-width: 1019px) {
   header .container {
      flex-direction: column;
      align-items: center;
   }

   .header-logo {
      margin-bottom: 20px;
   }

   .menu-header-container ul {
      flex-wrap: wrap;
      justify-content: center;
   }

   .collapse-left {
      margin-bottom: 30px;
   }
}

@media (min-width: 1020px) {
   header .container {
      justify-content: space-between;
   }

   .margin-collapse {
      display: flex;
   }

   .collapse-left {
      width: 50%;
      padding-right: 20px;
      flex-shrink: 0;
   }

   .collapse-right {
      width: 50%;
      padding-left: 20px;
      flex-shrink: 0;
   }
}

@media (max-width: 1100px) {
   .row-inner a {
      font-size: 14px;
   }

   .column-center {
      padding: 20px;
   }
}
input {
  color: white;
  background-color: black;
  padding: 3px 8px;
  border-radius: 10%;
  border: 0;
  font-size: 14px;
}

input:hover,
input:focus {
  color: #999;
}

input:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
input:checked {
  border: 6px solid black;
}

button,
legend {
  color: white;
  background-color: black;
  padding: 3px 10px;
  border-radius: 5;
  border: 0;
  font-size: 12px;
}

button:hover,
button:focus {
  color: #999;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}